* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: background 0.3s, color 0.3s;
}

:root[data-theme="theme-light"] {
  --bg-color-1: #f2f2f2;
  --bg-color-2: #ffffff;
  --color-1: #1f1f1f;
  --color-2: #222222;
}

:root[data-theme="theme-dark"] {
  --bg-color-1: #1f1f1f;
  --bg-color-2: #222222;
  --color-1: #f2f2f2;
  --color-2: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-1);
  color: var(--color-1);
}

#switchTheme {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 2px;
  width: 34px;
  height: 34px;
  border: none;
  background-color: var(--color-1);
  color: var(--bg-color-1);
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

#switchTheme i {
  font-size: 20px;
  position: absolute;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  min-height: 500px;
  width: 760px;
  min-width: 760px;
  background-color: var(--color-1);
  border-radius: 4px;
  overflow: hidden;
}

.about-container > .profile-and-social-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex: 1.3;
}

.about-container > .profile-and-social-container .profile-photo-container {
  flex: 1.7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.about-container > .profile-and-social-container .profile-photo-container img {
  width: 140px;
  height: 140px;
  border: 3px solid var(--bg-color-1);
  border-radius: 2px;
}

.about-container > .profile-and-social-container .profile-photo-container h2 {
  color: var(--bg-color-1);
}

.about-container > .profile-and-social-container .social-link-container {
  width: 100%;
  flex: 2;
}

.about-container > .profile-and-social-container .social-link-container ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
  overflow: hidden;
}

.about-container
  > .profile-and-social-container
  .social-link-container
  ul
  li
  a {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color-1);
  padding: 0 5px;
  gap: 4px;
  background-color: var(--bg-color-1);
  border-radius: 2px;
  font-weight: 500;
}

.about-container
  > .profile-and-social-container
  .social-link-container
  ul
  li
  a
  i {
  font-size: 22px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container
  > .profile-and-social-container
  .social-link-container
  ul
  li:nth-of-type(3)
  a
  i {
  font-size: 18px;
}
.about-container > .about-info-and-skills-container {
  height: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-2);
  padding: 30px 20px;
}

.about-container > .about-info-and-skills-container .about-info-container,
.about-container > .about-info-and-skills-container .skills-container {
  width: 100%;
  color: var(--bg-color-1);
}

.about-container > .about-info-and-skills-container .about-info-container h2,
.about-container > .about-info-and-skills-container .skills-container h2 {
  font-weight: 500;
  letter-spacing: 1px;
}

.about-container > .about-info-and-skills-container .about-info-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.about-container > .about-info-and-skills-container .about-info-container > p {
  font-weight: 500;
}

.about-container
  > .about-info-and-skills-container
  .about-info-container
  .mail {
  font-weight: 500;
  margin-top: 30px;
}

.about-container
  > .about-info-and-skills-container
  .about-info-container
  .mail
  a {
  color: var(--bg-color-1);
  color: dodgerblue;
}

.about-container > .about-info-and-skills-container .skills-container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-container > .about-info-and-skills-container .skills-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 50px;
  gap: 40px;
  padding: 4px 8px;
}
.about-container
  > .about-info-and-skills-container
  .skills-container
  ul
  li:nth-of-type(1) {
  color: #f06529;
}

.about-container
  > .about-info-and-skills-container
  .skills-container
  ul
  li:nth-of-type(2) {
  color: #2965f1;
}

.about-container
  > .about-info-and-skills-container
  .skills-container
  ul
  li:nth-of-type(3) {
  color: #f0db4f;
}

.about-container
  > .about-info-and-skills-container
  .skills-container
  ul
  li:nth-of-type(4) {
  color: #563d7c;
}

.about-container
  > .about-info-and-skills-container
  .skills-container
  ul
  li:nth-of-type(5) {
  color: #f1502f;
}

.about-container
  > .about-info-and-skills-container
  .skills-container
  ul
  li:nth-of-type(6) {
  color: #cd6799;
}
